/***********************************************************/
/*          Style sheet for Black Mirror web site          */
/*          author: Jonathan Garcia                        */
/*          version: 1.0                                   */
/*          comments: class project 2023-24                */
/***********************************************************/

/* cuando quiero usar una tipografia y asegurarme de que se vera correctamente, suministro tambien con la pagina el archivo de la fuente que sera .ttf o .otf */
/* 1- ahora enlazo el archivo descargado*/
/* 2- utilizar rl nombre de la font-familiy donde quiera usarlo */


@font-face {    /*esto no es un selector, es un enlaze */
    font-family: blackmirror ;
    src: url(../fonts/FontsFree-Net-Proxima-Nova-Bold.otf);
}
@font-face {
    font-family: textonormal;
    src: url(../fonts/OpenSans-Regular.ttf);
}

* {box-sizing: border-box;} /* com maquetacion completa SIEMPRE */

body {margin: 0;padding:0;  /*para desactivar el espacio de separacion por defecto*/
    background-color: #ccc;
    font-family: textonormal;}

#wrapper {background-color: #808080;
        width:100%;       /*ancho fijado al 100% MOBILE FIRST*/        
        margin:auto}     /*centrado  automatico*/


/************************************** HERO SCTION *************/

#hero {background-image: url(../img/hero.webp);
            height: 95vh;        /* el 100 % del alto de la ventana del navegador */
            background-size: cover;
            background-position: center;
            position:relative;     /**** contenedor relativo *****/
}

#hero button {background-color:#808080;
                color: white;
                font-weight: bold;
                padding: 5px 10px;
                border: none;
                border-radius: 10px;
                position:absolute;   /******** contenedor absoluto ********/
                top:70% ;
                left:50% ;
                transform: translate(-50%,-50%);  /*** lo traslado a la mitad de su tamaño **/

}


/********************* INTRO SECTION (GRID-2) ********************/

.grid-2 {display: grid;
        grid-template-columns: 100%;}  /****** MOBILE FIRST ***/

.col-2 {padding: 4%;
        }

#introimg {width: 80%;
            display: block;
            margin: auto;}




/***************** footer *******************************/
footer {background-color: black;
        color: white;}
.grid-3d {
            display: grid;
            grid-template-columns: 50% 50%; /****** MOBILE FIRST ***/
}

.col-4 {padding:4%;}



/******************** responsividad ***************************/

@media only screen and (width>650px){
        #wrapper {width: 80%;} 

}

@media only screen and (width>900px){
        .grid-2 {grid-template-columns: 50% 50%;}
        .grid-3d {grid-template-columns: 25% 25% 50%;}
}